@model lab2.Models.Shop
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новый магазин</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.NameShop, "Магазин")
    <br />
    @Html.EditorFor(model => model.NameShop)
    <br />
    <br />

    <input type="submit" value="Добавить" />
}
<div>
    @Html.ActionLink("К списку склада", "Index")
</div>
